<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @event[:date] %>
</h2>
<h1>RSVP for <%= @event[:title] %></h1>

<form action="/events/<%= @event[:id] %>/rsvps/create">
  <div class="form-group">
    <label>Are you going?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>